@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    background-color: #18191a !important;
}

.font-dancing-script {
    font-family: 'nowaylight';
    font-weight: normal;
    font-style: normal;

}